<section class="page">
  <div class="login container  h-100 py-4">
    <div class="login-row row mt-3 ">
      <div class="login-col col-12 col-md-10 col-lg-9 col-xl-8">
        <div class="login-card card rounded  border-0">
          <div class="login-card-body card-body text-center">
            <div class="login-text my-4">
              <h2>Đăng ký tài khoản</h2>
            </div>
            <form (ngSubmit)="register(form)" #form="ngForm">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="login-input">
                    <!-- Username -->
                    <div class="username">
                      <mat-form-field class="input-username w-100" appearance="outline">
                        <mat-label>Tên đăng nhập</mat-label>
                        <input matInput type="text" required="Xin nhập tên đăng nhập"
                          [formControl]="usernameFormControl" [errorStateMatcher]="matcher" name="txtUsername">
                        <mat-icon matPrefix><i class="fa-solid fa-user"></i></mat-icon>
                        <mat-error *ngIf="usernameFormControl.hasError('required')">
                          Xin nhập <strong>Tên đăng nhập</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="password">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput type="password" name="txtPassword" [formControl]="passwordFormControl"
                          [errorStateMatcher]="matcher" required="Xin nhập mật khẩu"
                          [type]="hidePassword ? 'password' : 'text'">
                        <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon>
                        <button type="button" class="border-0 bg-body " mat-icon-button matSuffix
                          (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hidePassword">
                          <mat-icon matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                          Xin nhập <strong> mật khẩu</strong>
                        </mat-error>

                      </mat-form-field>
                    </div>

                    <!-- Phone number -->
                    <div class="username">
                      <mat-form-field class="input-username w-100" appearance="outline">
                        <mat-label>Số điện thoại</mat-label>
                        <input matInput pattern="^[0]\d{9,12}$" type="tel" [formControl]="phoneFormControl"
                          [errorStateMatcher]="matcher" name="txtPhone" maxlength="10" minlength="10">
                        <mat-icon matPrefix><i class="fa-solid fa-phone"></i></mat-icon>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                          Xin nhập <strong> số điện thoại</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="login-input">
                    <!-- Email -->
                    <div class="username">
                      <mat-form-field class="input-username w-100" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" ngModel email required="Please Enter Username"
                          [formControl]="emailFormControl" [errorStateMatcher]="matcher" name="txtEmail"
                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <mat-icon matPrefix><i class="fa-regular fa-envelope"></i></mat-icon>
                        <mat-error [innerHTML]="getEmailErrorMessage()" *ngIf="emailFormControl.invalid">
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Confirm Pass -->
                    <div class="password">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Nhập lại mật khẩu</mat-label>
                        <input matInput type="password" name="txtConfirmPassword"
                          [formControl]="confirmPasswordFormControl" [errorStateMatcher]="matcher"
                          [type]="hideConfirmPass ? 'password' : 'text'">
                        <mat-icon matPrefix><i class="fa-solid fa-key"></i></mat-icon>
                        <button type="button" class="border-0 bg-body " mat-icon-button matSuffix
                          (click)="hideConfirmPass = !hideConfirmPass" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hideConfirmPass">
                          <mat-icon matSuffix>{{hideConfirmPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                        <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
                          Xin nhập lại <strong>mật khẩu </strong>
                        </mat-error>
                        <mat-error *ngIf="isConfirmPass != ''">
                          {{isConfirmPass}}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Day of Birth  -->
                    <div class="username">
                      <mat-form-field class="input-username w-100" appearance="outline">
                        <mat-label>Ngày sinh </mat-label>
                        <input matInput [formControl]="dobFormControl" [errorStateMatcher]="matcher" name="txtDob"
                          id="date" [matDatepicker]="picker" [min]="minDate" [max]="maxDate">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-icon matPrefix><i class="fa-solid fa-calendar-days"></i></mat-icon>
                        <mat-error *ngIf="dobFormControl.hasError('required')">
                          Xin nhập <strong> ngày sinh</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
              </div>

              <div class="login-input">


                <!-- Address -->
                <div class="username">
                  <mat-form-field class="input-username w-100" appearance="outline">
                    <mat-label>Địa chỉ</mat-label>
                    <input matInput type="text" [formControl]="addressFormControl" [errorStateMatcher]="matcher"
                      name="txtAddress">
                    <mat-icon matPrefix><i class="fa-solid fa-map-location-dot"></i></mat-icon>
                    <mat-error *ngIf="addressFormControl.hasError('required')">

                      Xin nhập <strong>địa chỉ </strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="text-center pt-1  pb-1 login-button-div">
                <button class="login-button btn btn-primary btn-block w-100 fa-lg gradient-custom-2 mb-3"
                  mat-raised-button type="submit" form.valid>
                  Đăng ký</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
