<section class="w-100 pt-4 page-body">
  <div class="container">
    <div class="row justify-content-center w-100">

      <div class="col-10 mb-5">
        <div class="cart rounded ">
          <div class="cart-header text-center">
            <h2>Giỏ hàng của bạn</h2>
          </div>
          <!-- cart -->
          <div class="cart-body ">
            <div class="rounded-bottom bg-white px-4 pt-4 pb-2">
              <div class="d-flex flex-row justify-content-between ">
                <div><button>Xem San Pham</button></div>
                <div class="border-start wpx-100 d-flex justify-content-end align-items-center "><span
                    class="text-upper">DANG GIAO</span></div>
              </div>
              <hr class="w-100 my-2">
              <div class="d-flex align-items-center ">
                <img src="" alt="" style="width: 80px; height: 80px" class="rounded" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">
                    thuc an cho meo

                  </p>
                  <p class="text-muted mb-0 text-descrip fs-14">thuc an choo meo</p>
                  <p class="fs-14">x1</p>
                </div>
              </div>
            </div>
            <hr class="m-0 w-100 bg-body">
            <div class="rounded-top bg-white px-4 pt-4 pb-2">
              <div class="d-flex justify-content-end flex-colunm flex-nowrap">
                <span>Thanh tien:</span>
                <span class="text-danger "> </span>
              </div>

            </div>
          </div>
          <hr>
          <!-- cart -->
          <!-- cart -->
          <div class="cart-body ">
            <div class="rounded-bottom bg-white px-4 pt-4 pb-2">
              <div class="d-flex flex-row justify-content-between ">
                <div><button>Xem San Pham</button></div>
                <div class="border-start wpx-100 d-flex justify-content-end align-items-center "><span
                    class="text-upper">DANG GIAO</span></div>
              </div>
              <hr class="w-100 my-2">
              <div class="d-flex align-items-center ">
                <img src="" alt="" style="width: 80px; height: 80px" class="rounded" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">
                    thuc an cho meo

                  </p>
                  <p class="text-muted mb-0 text-descrip fs-14">thuc an choo meo</p>
                  <p class="fs-14">x1</p>
                </div>
              </div>
            </div>
            <hr class="m-0 w-100 bg-body">
            <div class="rounded-top bg-white px-4 pt-4 pb-2">
              <div class="d-flex justify-content-end flex-colunm flex-nowrap">
                <span>Thanh tien:</span>
                <span class="text-danger "> </span>
              </div>

            </div>
          </div>
          <hr>
          <!-- cart -->
          <!-- cart -->
          <div class="cart-body ">
            <div class="rounded-bottom bg-white px-4 pt-4 pb-2">
              <div class="d-flex flex-row justify-content-between ">
                <div><button>Xem San Pham</button></div>
                <div class="border-start wpx-100 d-flex justify-content-end align-items-center "><span
                    class="text-upper">DANG GIAO</span></div>
              </div>
              <hr class="w-100 my-2">
              <div class="d-flex align-items-center ">
                <img src="" alt="" style="width: 80px; height: 80px" class="rounded" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">
                    thuc an cho meo

                  </p>
                  <p class="text-muted mb-0 text-descrip fs-14">thuc an choo meo</p>
                  <p class="fs-14">x1</p>
                </div>
              </div>
            </div>
            <hr class="m-0 w-100 bg-body">
            <div class="rounded-top bg-white px-4 pt-4 pb-2">
              <div class="d-flex justify-content-end flex-colunm flex-nowrap">
                <span>Thanh tien:</span>
                <span class="text-danger "> </span>
              </div>

            </div>
          </div>
          <hr>
          <!-- cart -->
        </div>
      </div>


    </div>

  </div>
</section>
