<div class="items-content py-4">
  <div class="content-box">
    <div class="content row justify-content-between">
      <div class="col-md-7">
        <div class="img-fluid img-thumbnail rounded justify-content-center d-flex pt-2">
          <img [src]="imageUrl">

        </div>
      </div>
      <div class="col-md-5 pe-1 ">
        <div class="content-left">
          <p class="m-0"></p>
          <span class="first-text">
            {{name}}
          </span>
          <span class="fs-4 price">{{price}} &#8363;</span>
          <span class="second-text">
            {{description}}
          </span>
          <form (ngSubmit)="addToCart()">
          <div class="row wa100 value-items-box">
            <div class="col-4">
              <mat-form-field class="value-items w-100" appearance="outline">
                <mat-label>Số lượng: </mat-label>
                <input matInput value="0" name="amount" type="number" min="0" [(ngModel)]="amount">
              </mat-form-field>
            </div>
            <div class="col-2">Kho: {{quantity}}</div>
            <div class="col-6 pe-0">
              <button mat-raised-button color="primary" type="submit"> Thêm Vào Giỏ Hàng</button>
            </div>
          </div>
        </form>



        </div>
      </div>


    </div>
  </div>
</div>


<div class="shop cotainer">
  <div class="shop-content w-100 pt-4">
    <div class="row w-100">
      <div class="col w-100">
        <div class="content-title align-items-center pb-3 d-flex flex-column">
          <span class="title-text fs-2 text-center fw-bold gradient-text-1">SẢN PHẨM</span>

          <img src="/assets/images/line.png" alt="">
        </div>
        <div class="content-items container">
          <div class="row">
            <!-- items -->
            <a routerLink="/Shop/Items" title="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
              class="col-lg-3 col-md-4 col-sm-6 col-12 pb-3 ">
              <div class="card p-2 ">
                <img src="/assets/images/thuoc.jpg" alt="Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo"
                  class="card-img-top">
                <h5 class="card-title text-center fw-bold text-body">Thuốc nhỏ gáy FRONTLINE trị ve rận trên mèo
                </h5>
                <h6 class="card-text text-center ">120.000</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
