<section class="page">
  <div class="login container  h-100 py-4">
    <div class="login-row row mt-3 ">
      <div class="login-col col-12 col-md-10 col-lg-9 col-xl-8">
        <form (ngSubmit)="updateItems()">
          <div class="login-card card rounded  border-0 mb-4">
            <div class="login-card-body card-body text-center ">
              <div class="login-text">
                <h2>Chỉnh sửa sản phẩm</h2>
              </div>
              <div class="row">
                <div class="col">
                  <!-- name -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Name</mat-label>
                      <input matInput type="text"  [(ngModel)]="name" name="txtname" [readonly]="isUpdate == true ? 'false' : 'true'">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="login-input">
                    <!-- price -->
                    <div class="password">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="txtPrice" [(ngModel)]="price" [readonly]="isUpdate == true ? 'false' : 'true'"
                        maxlength="9" minlength="4" min="1000" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="login-input">
                    <!-- quatity-->
                    <div class="username">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" name="txtQuantity" [(ngModel)]="quantity" [readonly]="isUpdate == true ? 'false' : 'true'"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="9" minlength="0" min="0"
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <!-- Descriptiuon -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Description</mat-label>
                      <textarea matInput type="text"  [(ngModel)]="description"
                        name="txtdescription" [readonly]="isUpdate == true ? 'false' : 'true'"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div ngx-dropzone class="upload" [multiple]="false" [accept]="'image/*'" (change)="onSelect($event)"
                    *ngIf="!showReview" >
                    <ngx-dropzone-label>
                      <div>
                        <i class="fas fa-cloud-upload-alt icon-upload"></i>
                        <header>Drop files here or click to upload *</header>
                      </div>
                    </ngx-dropzone-label>
                  </div>
                  <div class="wrapper" *ngIf="showReview">
                    <ngx-dropzone-image-preview class="image-preview overflow-hidden" ngProjectAs="ngx-dropzone-preview"
                      [file]="itemFile" [removable]="true" (removed)="onRemove(itemFile)">
                    </ngx-dropzone-image-preview>
                    <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview" (removed)="onRemove(itemFile)">{{imageUrl}}
                    </ngx-dropzone-label>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <hr>
              <div class="text-center  login-button-div" *ngIf="!isUpdate">
                <button class="login-button btn  btn-block w-100 fa-lg" type="button" mat-raised-button
                  (click)="isUpdate = true ">
                  <span class="fs-5">
                    <mat-icon><i class="fa-solid fa-plus m-0 p-0 fs-5"></i></mat-icon>
                    Chỉnh sửa sản phẩm
                  </span>
                </button>
              </div>
              <div class="text-center pt-1  pb-1 login-button-div"  *ngIf="isUpdate">
                <button class="login-button btn btn-primary btn-block w-100 fa-lg gradient-custom-2 mb-3"
                  mat-raised-button type="submit">
                  Hoàn tất chỉnh sửa</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
