<section class="page">
  <div class="login container  h-100 py-4">
    <div class="login-row row mt-3 ">
      <div class="login-col col-12 col-md-10 col-lg-9 col-xl-8">
        <form (ngSubmit)="addItems(myForm)" #myForm="ngForm">

          <div class="login-card card rounded  border-0 mb-4" *ngFor="let value of items; let i = index">
            <div class="login-card-body card-body text-center ">

              <div class="login-text">
                <h2>Add Items - No.{{i+1}}</h2>
              </div>

              <div class="row">
                <div class="col">
                  <!-- name -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Name</mat-label>
                      <input matInput type="text" required [(ngModel)]="value.name" name="txtname{{i}}">


                    </mat-form-field>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="login-input">
                    <!-- price -->
                    <div class="password">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="txtPrice{{i}}" [(ngModel)]="value.price" required>
                      </mat-form-field>
                    </div>



                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="login-input">

                    <!-- quatity-->
                    <div class="username">
                      <mat-form-field class="input-password w-100" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" name="txtQuantity{{i}}" [(ngModel)]="value.quantity" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>




              </div>
              <div class="row">
                <div class="col">
                  <!-- Descriptiuon -->
                  <div class="username">
                    <mat-form-field class="input-username w-100" appearance="outline">
                      <mat-label>
                        Description</mat-label>
                      <textarea matInput type="text" required [(ngModel)]="value.description"
                        name="txtdescription{{i}}"></textarea>


                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">

                  <div ngx-dropzone class="upload" [multiple]="false" [accept]="'image/*'" (change)="onSelect($event ,i)"
                    *ngIf="!value.showDiv" required>
                    <ngx-dropzone-label>
                      <div>
                        <i class="fas fa-cloud-upload-alt icon-upload"></i>
                        <header>Drop files here or click to upload *</header>
                      </div>
                    </ngx-dropzone-label>
                  </div>
                  <div class="wrapper"*ngIf="value.showDiv" >
                    <ngx-dropzone-image-preview class="image-preview overflow-hidden" ngProjectAs="ngx-dropzone-preview"
                      [file]="value.file" [removable]="true" (removed)="onRemove(value.file ,i)">
                    </ngx-dropzone-image-preview>
                    <ngx-dropzone-label ngProjectAs="ngx-dropzone-preview"
                      (removed)="onRemove(value.file ,i)">{{value.imageUrl}}
                    </ngx-dropzone-label>
                  </div>

                </div>
              </div>

              <br>
              <br>
              <hr>

              <div class="text-center  login-button-div">
                <button class="login-button btn  btn-block w-100 fa-lg" type="button" mat-raised-button color="warn"
                  (click)="removeItems(i)">
                  <span class="fs-5">
                    <mat-icon><i class="fa-solid fa-xmark m-0 p-0 fs-5"></i></mat-icon>
                    Delete Items
                  </span>

                </button>
              </div>






            </div>
          </div>
          <hr>
          <div class="text-center  login-button-div">
            <button class="login-button btn  btn-block w-100 fa-lg" type="button" mat-raised-button
              (click)="addMoreItems()">
              <span class="fs-5">
                <mat-icon><i class="fa-solid fa-plus m-0 p-0 fs-5"></i></mat-icon>
                Add More Items
              </span>

            </button>
          </div>
          <hr>
          <div class="text-center pt-1  pb-1 login-button-div">
            <button class="login-button btn btn-primary btn-block w-100 fa-lg gradient-custom-2 mb-3" mat-raised-button
              type="submit" [disabled]="!myForm.valid">
              Submit Add Items</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
