<div class="container-fluid">
  <div class="header row">
    <div class="col-6">
      <h1>Quản lý tài khoản</h1>
    </div>
    <div class="col-6 text-end "> <button mat-raised-button routerLink="AddAccount">Tạo Tài Khoản</button></div>

  </div>

  <div class="row">
    <div class="col col ">
      <div class="body card mb-4">
        <mat-tab-group>
          <!-- Customer  -->
          <mat-tab label="Khách hàng">
            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead class="s">
                <tr class="fw-5">
                  <th class="w-2">ID</th>
                  <th>Tên</th>
                  <th class="w-1">Số điện thoại</th>
                  <th class="w-1">Trạng thái</th>
                  <th class="w-1">Xem và Sửa</th>
                </tr>
              </thead>
              <tbody>
                <tr matRipple *ngFor="let post of valuesCustomer | paginate:{
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
              };
              let i = index" [style.cursor]="'pointer'" routerLink="AccountDetail"
                  (click)="onItemSelector(post.id, post.username)">
                  <td>{{post.id}}</td>
                  <td>

                    <div class="d-flex align-items-center">

                      <div class="ms-3">
                        <p class="fw-bold mb-1"> {{post.username}}</p>
                        <p class="text-muted mb-0 overflow-hidden text-break"> {{post.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>{{post.phone}}</td>
                  <td> <span class="badge rounded-pill d-inline"
                      [class]="post.status == 'ACTIVE' ? 'badge-success' : 'badge-danger'">{{post.status == 'ACTIVE' ?
                      'Hoạt động' : 'Bị khóa' }}</span></td>
                  <!-- <td>
                <button mat-icon-button color="primary" (click)="onItemSelector(post.id, post.username);"
                  routerLink="/Admin/Request/RequestAccount" routerLinkActive="active"><i
                    class="fa-solid fa-eye"></i></button>
                <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
                  (click)="accept()"><i class="fa-solid fa-check"></i></button>
                <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
                  (click)="reject()"><i class="fa-solid fa-xmark"></i></button>

              </td> -->
                  <td class="">
                    <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username)"
                      (click)="openDialogAction()"> <mat-icon>edit</mat-icon></button>
                  </td>
                </tr>
                <tr *ngIf="valuesCustomer .length < 1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesCustomer .length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesCustomer .length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesCustomer .length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesCustomer .length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row w-100">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangeCustomer($event)">
                </pagination-controls>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Chủ Tiệm">
            <table class="table table-striped table-hover mt-2" style="height:60vh">
              <thead class="">
                <tr class="fw-5">
                  <th class="w-2">ID</th>
                  <th>Tên</th>
                  <th class="w-1">Số điện thoại</th>
                  <th class="w-1">Trạng thái</th>
                  <th class="w-1">Xem và Sửa</th>
                </tr>
              </thead>
              <tbody style="height:30vh">
                <tr *ngFor="let post of valuesOwner | paginate:{
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count}
          ;
          let i = index" [style.cursor]="'pointer'" routerLink="AccountDetail"
                  (click)="onItemSelector(post.id, post.username)">
                  <td>{{post.id}}</td>
                  <td>

                    <div class="d-flex align-items-center">
                      <!-- <img [src]="post.avatarUrl" alt="" style="width: 45px; height: 45px" class="rounded-circle" /> -->
                      <div class="ms-3">
                        <p class="fw-bold mb-1"> {{post.username}}</p>
                        <p class="text-muted mb-0 overflow-hidden text-break"> {{post.email}}</p>
                      </div>
                    </div>
                  </td>
                  <td>{{post.phone}}</td>
                  <td> <span class="badge rounded-pill d-inline"
                      [class]="post.status == 'ACTIVE' ? 'badge-success' : 'badge-danger'">{{post.status == 'ACTIVE' ?
                      'Hoạt động' : 'Bị khóa' }}</span></td>
                  <!-- <td>
        <button mat-icon-button color="primary" (click)="onItemSelector(post.id, post.username);"
          routerLink="/Admin/Request/RequestAccount" routerLinkActive="active"><i
            class="fa-solid fa-eye"></i></button>
        <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username);"
          (click)="accept()"><i class="fa-solid fa-check"></i></button>
        <button mat-icon-button color="warn" (click)="onItemSelector(post.id, post.username);"
          (click)="reject()"><i class="fa-solid fa-xmark"></i></button>

      </td> -->
                  <td class="">
                    <button mat-icon-button color="accent" (click)="onItemSelector(post.id, post.username)"
                      (click)="openDialogAction()"> <mat-icon>edit</mat-icon></button>
                  </td>
                </tr>
                <tr *ngIf="valuesOwner.length < 1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesOwner.length < 2">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesOwner.length < 3">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesOwner.length < 4">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngIf="valuesOwner.length < 5">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <!-- pagination -->
            <div class="row w-100">
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6 d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next"
                  (pageChange)="onTableDataChangeOwner($event)">
                </pagination-controls>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
